.searchbar-box {
    padding: 10px;
    background-color: white;
    div {
        text-align: center;
        h1 {
            color: black;
            font-size: 30px; 
        }

        input {
            border-radius: 10px;
            margin: 20px;
            width: 300px;
            height: 26px;

        }
    }
}