.custom-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    width: 250px;
    height: 340px;
    background-color: rgb(212, 212, 173);

    h3 {
        font-size: 22px;
        padding-top: 20px;
    }

    img {
        padding: 20px;
        
    }
}

