.header {
    padding: 10px;
    background-color: white;
    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 10px;

        .left-header {
            img {
                width: 50px;
            }
        }
        
        .right-header {
            h1 {
                color: black;
                font-size: 30px;
                margin-right: 30px;
            }

            img {
                width: 40px;
            }
        }
    }
}

@media screen and (max-width: 415px) {
    .right-header {
        h1 {
            color: black;
            font-size: 22px;
            margin-right: 30px;
        }
  }};