.book-informations {
    padding: 50px;
    .flex-book-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin: 0 100px;
        
        .book-description {
            color: white;
            width: 800px;
            h1 {
                font-size: 40px;
                padding-bottom: 20px;
                min-width: 350px;
            }
            p {
                font-size: 22px;
                padding-bottom: 15px;
            }
            h4 {
                padding-bottom: 30px;
            }
        }
        .bookImages {
            img{
                width: 250px;
                border: solid 5px white;
            }      
        }
    }

    .chapters-box {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 50px;

        form {
            margin-top: 30px;
            width: 50%;

            input {
                width: 100%;
                padding: 10px;
            }
        }
        
        
        a {
            min-width: 300px;
            text-decoration: none;
        }
    }
}