.mybooks-title {
    
    h1 {
        color: white;
        font-size: 25px;
        padding: 50px;
    }
}

.no-login-box {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 100px;
    .no-login-allert {
        color: white;
        font-size: 22px;
        border: solid 1px orange;
        border-radius: 10px;
        padding: 5px;
    }
    img {
        width: 800px;
    }
}

@media screen and (max-width: 300px) {
    img {
        width: 400px;
    }
}