.bookTitle-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #666;
    color: white;
    padding: 20px;
    margin: 15px;
    p {
        font-size: 22px;
        
    }
}